
	

	@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait){							
		h1{
			font-size: 1.7em;
	    }
	}




	@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
									.designare {
										font-size: 1.7em;
								    }
								}





	@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait){
							
									.background  {

										background-image: url("../images/backgroundres.jpg");
										width: 200px;
										

						        }
						}



	@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait){							
							.wrapper  {
								width: 100%;
						    }
						}



	@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait){							
							.tape  {
								left: 0px;
								width: 100%;
						    }
						}



@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {
								
										.mask {

											background-image: url('../images/maskcircles2.png');
											width: 100%;
											height: 200px;

							        }
							}


@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {
											
													.titulo {

														/*right: 15px;
			                                            width: 350px;*/
			                                             width: 100%;
			 											bottom: 100px;
														
										        }
										}

 @media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {
											
													.navigation {
														font-size:  .8em; /* equiv 29px */
														right: 15px;
			                                            width: 350px;
			 											bottom: 10px;

										        }
										}




 @media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {
											
													nav ul li {
														padding: 10px;
														
										        }
										}

						@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
									.aboutme {
										margin:0;
										left: 0px;
										width: 100%;
								    }
								}


 @media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
									.profile{
										
										display: none;
								    }
								}


@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
				.story {
					width: 100%;
					padding-bottom: 10px;

			    }
			}




			 @media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
				.veronica {
					top: 40px;
					padding-bottom: 25px;

			    }
			}


@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
					.social ul li {
						right: 10px;
						padding: 2px;
						
				    }
				}

@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
					.trabajo {
						margin:0;
						left: 0px;
						width: 100%;
				        height: 400px;
				    }
				}
	@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
								.image{
									
					            height:90px;
								width: 90px;
								border-radius:100px;
								font-size: .8em;
							    margin-bottom: 20px;
								
							    }
							}


@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
										.img {
											
									   width: 350px;
									   height: 100px;
										
									    }
									}


@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait){


                                  .roundconta  {

                                           margin-right: auto;
                                           margin-left: auto;

} 




}



@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
									.logos{
										
								    font-size:  .8em; /* equiv 29px */
								    top: 25px;
								    text-align: center;
									
								    }
								}



@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
			.contact {

				margin:0;
				width:  100%;
				height: 150px;
		    }
		}



@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
			.social {
				   
                   padding-bottom: 0px;	
                   margin: auto;
		
		    }
		}


@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
			.copyright {
				 display: none;
				
		    }
		}









