

/*Index media queries mobile*/


@media  (min-device-width:320) and (max-device-width: 568px) {

	.designare, .subtitle {
		font-size: 1.3em;
	}

	.background  {
		background-image: url("../images/backgroundres.jpg");
		width: 200px;
    }

    .wrapper  {
				
		width: 100%;
	}

	.tape     {

		left: 0px;
		width:100%;
    }



    .mask {

		background-image: url('../images/maskcircles2.png');
		width: 100%;
		height: 250px;
	}


	.titulo {

								
        width: 100%;
		bottom: 70px;
														
	}



	.navigation {

		font-size:  .8em; /* equiv 29px */
		right: 15px;
        width: 350px;
		top: 10px;


	}


   .aboutme {

	margin:0;
	left: 0px;
	width: 100%;

	}


.profile {
										
	display: none;

	 }

.veronica {

	top: 40px;
	padding-bottom: 25px;

}

 .story {
				
	width: 100%;
	padding-bottom: 10px;

}





.trabajo {

	margin:0;
	left: 0px;
	width: 100%;
    height: 400px;
}



.image {
				
    height:90px;
	width: 90px;
	border-radius:100px;
	font-size: .8em;
    margin-bottom: 20px;

			
}


.img {
				
    width: 80%;
    height: 100px;
	text-align: center;
}


.roundconta  {

     left: 50px;


}


.logos{
				
    font-size:  1em; /* equiv 29px */
    top: 35px;
 }



.contact {

	margin:0;
	width:  100%;
	height: 150px;
}


.social {
				     				   
   padding-bottom: 0px;	
   margin:  0 auto;
   right: 40px;
}


.copyright {
				
			display: none;
				
				
		    }


}


/*media queries for conent ipad*/


@media (min-device-width : 768px) and (max-device-width : 1024px) {


 .mask {

		background-image: url('../images/maskcirclesipad.png');
		width: 100%;
}

.tape {



	width: 100%;
}


.titulo {

								
        width: 100%;
		bottom: 100px;
														
	}

.trabajo {

	margin:0;
	left: 0px;
	width: 100%;
    height: 500px;
}


.story {
				
	width: 100%;
	padding-bottom: 10px;

}





}






/*landingpage*/


/*media queries for conent page mobile*/


 @media (min-device-width: 320px) and (max-device-width: 568px) {	

	p{
		font-size: 1.5em;
    }



	.cwrapper, .side  {

			width: 100%;
	 }


	 .photos, .tags {

		   width: 90%;
	 }
		
    

    .descrip {

		width: 80%;
											
	}


	 .des {

      right: 130px;
 
													
	}


}










/*responsive images*/



/*nom*/

 @media (min-device-width: 320px) and (max-device-width: 568px){	

	.first {
		background-image: url('../images/nomlogores.png');
		width: 250px;
        height: 83px;
        bottom:  50px;
        margin-right: auto;
        margin-left: auto;
    }


	.second {

		background-image: url('../images/homepageres.jpg');
		width: 300px;
        height: 225px;
    }


	.third {

		background-image: url('../images/nomdrinkres.jpg');
		width: 300px;
        height: 225px;
    }



	.fourth{

		background-image: url('../images/nomeatres.jpg');
		width: 300px;
        height: 225px;
    }

}

