

/*Index media queries mobile*/


@media screen and (min-width:320px) and (max-width: 568px) {

	.designare, .subtitle {
		font-size: 1.8em;
	}

	.background  {
		background-image: url("../images/backgroundres.jpg");
		width: 200px;
    }

    .wrapper  {
				
		width: 100%;
	}

	.tape     {

		left: 0px;
		width:100%;

    }



    .mask {

		background-image: url('../images/maskcircles2.png');
		width: 100%;
		height: 250px;
		top: 0px;
	}


	.titulo {

								
        width: 100%;
		bottom: 110px;
														
	}



	.navigation {

		font-size:  .8em; /* equiv 29px */
        bottom: 2px;


	}


   .aboutme {

	margin:0;
	left: 0px;
	width: 100%;

	}


	.profile {
											
		display: none;

		 }

	 .story {
					
		width: 100%;
		padding-bottom: 10px;
		font-size: 1em;

	}





	.trabajo {

		margin:0;
		left: 0px;
		width: 100%;
	    height: 400px;
	}



	.image {
					
	    height:90px;
		width: 90px;
		border-radius:100px;
		font-size: .8em;
	    margin-right: 5px;

				
	}


	.img {
					
	    width: 80%;
	    height: 100px;
		text-align: center;
	}


	.roundconta  {
		
	    width: 95%;
	    left: 10px;
	    height: 100px;


	}


	.logos{
					
	    font-size:  .8em; /* equiv 29px */
	    top: 35px;
	 }



	.contact {

		margin:0;
		width:  100%;
	}


	.social {
					     				   
	   width: 100%;
	   margin: 0 auto;
	   right: 30px;
	}


	.copyright {
					
				display: none;
					
					
			    }

	.social ul li {


		padding: 3px;
	}


	.veronica {

		padding-top:10px;
		width: 100%;

    }



	}


/*media queries for conent ipad*/


@media screen  and (min-width : 568px) and (max-width : 1024px) {


 .mask {

		background-image: url('../images/maskcirclesipad.png');
		width: 100%;
}

.tape {



	width: 100%;
}


.titulo {

								
        width: 100%;
		bottom: 100px;
														
	}

.trabajo {

	margin:0;
	left: 0px;
	width: 100%;
    height: 400px;
}


.story {
				
	width: 100%;
	padding-bottom: 10px;

}



.social {
				     				   
   width: 100%;
   left: 30px;
}



.contact {

	margin:0;
	width:  100%;
	height: 300px;
}






}






/*landingpage*/


/*media queries for conent page mobile*/


 @media screen and (min-width: 320px) and (max-width: 568px) {	

	

	.cwrapper, .side  {

			width: 100%;
	 }


	 .photos {

		   width: 95%;
	 }
		
    h1{

    	font-size: 2em;
     
 }

    .descrip {

		width: 80%;
		font-size: 1em;
        bottom: 10px;
	}


	 .des {

        right: 110px;
        top: 20px;
		

													
	}


    

   .tittle {

     width: 80%;
     top: 10px;
     padding-bottom: 5px;


   }

   
    .dropbox {

     position: relative;
     bottom: 20px;

   }




}










/*responsive images*/



/*nom*/

 @media screen and (min-width: 320px) and (max-width: 568px){	

	.first {
		background-image: url('../images/nomlogores.png');
		width: 250px;
        height: 83px;
        bottom:  50px;
        margin-right: auto;
        margin-left: auto;
    }


	.second {

		background-image: url('../images/homepageres.jpg');
		width: 300px;
        height: 225px;
    }


	.third {

		background-image: url('../images/nomdrinkres.jpg');
		width: 300px;
        height: 225px;
    }



	.fourth{

		background-image: url('../images/nomeatres.jpg');
	    width: 300px;
        height: 225px;
    }


/*whisk*/


	.firstw {
            top: 0px;
			background-image: url('../images/landingresfinal.jpg');
			width: 353px;
	        height: 353px;

	}


	.secondw {
		background-image: url('../images/landscapelandingres.jpg');
		width: 353px;
        height: 300px;
        margin-top: 30px;
}


    .thirdw {

		background-image: url('../images/homefeedres.jpg');
		width: 353px;
        height: 300px;

}


.fourthw {

		background-image: url('../images/followuserres.jpg');
		width: 353px;
        height: 300px;
       

}

/*Micellaneus*/


.firstI{
            top: 0px;
			background-image: url('../images/lanares.png');
			width: 300px;
	        height: 393px;

	}


	.secondI {
		background-image: url('../images/sebastiensres.png');
		width: 300px;
        height: 272px;
        margin-top: 30px;
}


    .thirdI {

		background-image: url('../images/jellyfishres.png');
		width: 300px;
        height: 299px;

}


.fourthI{

		background-image: url('../images/2014xmascardres.png');
		width: 300px;
        height: 388px;
       

}

.fithI {

		background-image: url('../images/bunnyres.png');
		width: 300px;
        height: 300px;
       

}


}

