.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}


/*typography*/

h1 {
		color:#D35B30;
        font-size:  3em;
		font-weight:900;
		font-family: "museo-slab",serif;

		
}


           /*most mobiles*/


								@media (min-width: 320px) and (max-width: 480px) {							
									h1{
										font-size: 2em;
								    }
								}




html {
    font-size: 62.5%;
}

body {
	    font-size: 1.7em;
        line-height: 1.5em;
        font-family: "museo-sans",sans-serif;
        font-weight: 300;
}


p {
	 font-size: 1.043em;
	 line-height: 1.750em;
	 margin: 1.5em 0;
	 font-family: "museo-sans",sans-serif;
     font-weight: 300;
     word-spacing:0.25em;
     text-indent:0;
     padding-bottom: 20px;
	 color:rgb(70, 69, 86);

   }



	@media (min-width: 320px) and (max-width: 480px) {							
									p{
										font-size: 1em;
								    }
								}




h2 {    
		font-size:  1.7059em; /* equiv 29px */
		color: #f1f1e2;
		line-height: 1.7586em;
		font-family: "museo",serif;
		font-weight:500;
}

h3 {
	    font-family: "museo-sans",sans-serif;
	    font-size:  1.4706em;
	    font-weight:300;
	    word-spacing:-0.125em;
	    margin: 0;
	    color:#33323A;
}

nav ul li a, {

		font-size:  1.7059em; /* equiv 29px */
		color: #f1f1e2;
		font-family: "museo-sans",sans-serif;
		line-height: 1.7586em;
		word-spacing:0.25em;
}


h4 {
		  color: #D35B30;
		  font-size:  1.3529em; /* equiv 23px */
		  font-family: "museo-sans",sans-serif;
		  font-weight: 300;
}

h5 {
			font-family: "museo-sans",sans-serif;
			font-weight:100;
	        font-size:  1.2353em; /* equiv 21px */
	        line-height:  1.2143em;
	        color:#33323A;
}


h6  {
	         font-family: "museo-sans",sans-serif;
			 font-weight:100;
	         font-size:  17px;
	         line-height: 28.5px;
	         color:#D35B30;
	
}


/*background
*/




.wrapper  {


/*	      min-width: 1000px;
*/		  min-height: 100%;
	      background-color:#504E5B;
	      width: 100%;
}
                       @media (min-width: 320px) and (max-width: 480px){							
										.wrapper  {
											width: 360px;
									    }
									}





.intro  {        
                 width: 50%;
                 position:static;
			     float: right;
			     background-color:#504E5B;
                 min-height:2700px; 
                 margin-left: auto;
                 margin-right: auto;



      }


.side  {
/*		        min-width: 700px;
*/				background-color: #f1f1e2;
				width: 900px;
		        margin: auto;
                overflow: auto;
                height: 100%;

}


			/*most phones*/


									@media (min-width: 320px) and (max-width: 480px){							
										.side  {
											width: 350px;
											


									    }
									}




.photos  {
		           margin-right: auto;
		           margin-left: auto;
                   margin-top: 100px;
		           background-color: #f1f1e2;
		           text-align: center;
}




@media (min-width: 320px) and (max-width: 480px){							
										.photos {
											
											width: 300px;
									    }
									}



/*firstimages*/


/*nom
*/



.first {

	          background-image: url('../images/NOMlogo.png');
	          background-repeat: no-repeat;
	          width: 600px;
	          height: 352px;
	          margin: 0 auto;
	          position:relative;
}


/*nom resposive
*/


                           @media (min-width: 320px) and (max-width: 480px){							
										.first {
											background-image: url('../images/nomlogores.png');
											width: 250px;
	                                        height: 83px;
	                                        bottom:  50px;
	                                        margin-right: auto;
	                                        margin-left: auto;
									    }
									}

/*iimagesportrait*/

/*whisk*/

.firstp {

	          background-image: url('../images/landingwhisk.jpg');
	          background-repeat: no-repeat;
	          width: 850px;
	          height: 1000px;
	          margin: 0 auto;
	          position:relative;
}


                                     /*whiskresponsive*/

		                               
		                           @media (min-width: 320px) and (max-width: 480px){							
												.firstp {
													background-image: url('../images/landingwhiskres.jpg');
													width: 300px;
			                                        height: 353px;
			                                        bottom: 10px;
			                                        
											    }
											}





/*second image
*/


					/*nom
					*/

.second {

	          background-image: url('../images/homepage.jpg');
	          background-repeat: no-repeat;
	           margin: auto;

	          width: 600px;
	          height: 450px;
	          padding-bottom: 100px;
}
                          
                          /*nomresponsive
*/

                          @media (min-width: 320px) and (max-width: 480px){							
										.second {
											background-image: url('../images/homepageres.jpg');
											width: 300px;
	                                        height: 225px;
									    }
									}
/*whisk*/


				.secondp {    background-image: url('../images/whiskhomefeed.jpg');
					          background-repeat: no-repeat;
					          margin: auto;
					          width: 850px;
					          height: 1000px;
					          padding-bottom: 100px;
				}



				               /*whiskresponsive*/

		                               
		                           @media (min-width: 320px) and (max-width: 480px){							
												.secondp {
													background-image: url('../images/whisklandscapelandingres.jpg');
													width: 350px;
			                                        height: 353px;
			                                        bottom: 10px;
			                                        
			                                        
											    }
											}


/*nom*/


.third {

	          background-image: url('../images/nomdrink.jpg');
	          background-repeat: no-repeat;
	          margin: auto;
	          width: 600px;
	          height: 450px;
	          padding-bottom: 100px;

}


                           
                          @media (min-width: 320px) and (max-width: 480px){							
										.third {
											background-image: url('../images/nomdrinkres.jpg');
											width: 300px;
	                                        height: 225px;
									    }
									}


/*whisk*/


				.thirdp {    background-image: url('../images/homefeed.jpg');
					          background-repeat: no-repeat;
					          margin: auto;
					          width: 850px;
					          height: 1000px;
					          padding-bottom: 100px;
				}



				               /*whiskresponsive*/

		                               
		                           @media (min-width: 320px) and (max-width: 480px){							
												.thirdp {
													background-image: url('../images/homefeedres.jpg');
													width: 350px;
			                                        height: 353px;
			                                        bottom: 10px;
			                                        
			                                        
											    }
											}




/*nom*/


.fourth {

	          background-image: url('../images/nomeat.jpg');
	          background-repeat: no-repeat;
	          margin: auto;

	           width: 600px;
	          height: 450px;
	          padding-bottom: 100px;

}



                       @media (min-width: 320px) and (max-width: 480px){							
										.fourth{
											background-image: url('../images/nomeatres.jpg');
											width: 300px;
	                                        height: 225px;
									    }
									}


/*whisk*/




.fourthp{    background-image: url('../images/enterrecipy.jpg');
					          background-repeat: no-repeat;
					          margin: auto;
					          width: 850px;
					          height: 1000px;
					          padding-bottom: 100px;
				}



				               /*whiskresponsive*/

		                               
		                           @media (min-width: 320px) and (max-width: 480px){							
												.fourthp {
													background-image: url('../images/enterrecipyres.jpg');
													width: 350px;
			                                        height: 353px;
			                                        bottom: 10px;
			                                        
			                                        
											    }
											}












#gemelas {


					position: relative;
					right:150px;

}


.descrip  {
               
                text-align: left;
                position: relative;
                width: 500px;
                margin: 0 auto;

		             
}


				 @media (min-width: 320px) and (max-width: 480px){							
																.descrip {
																	width: 300px;
															    }
															}
				               





.descrip h4 {
               
                text-align: center;
                margin: 0;
              




}






.des    { 

				top: 20px;
				width: 60px;
				height: 60px;
				border:  1.5px solid #D35B30;
				border-radius: 80px;
				right: 350px;
				margin-left: auto;
			    margin-right: auto;
				position: relative;
				text-align: center;
				z-index: 7;


}


.des:hover {


	background-color: white;
}


 @media (min-width: 320px) and (max-width: 480px){							
																.des {

																	right: 140px;
																
                                                           

														    }
															}
				               






.titulo    {
			  margin-bottom: 20px;
			  margin: 0 auto;
			  text-align: center;
			 position: relative;
			 bottom: 5px;
}




.tags {

			    position: relative;
			    top: 10px;
				width: 500px;
				margin: 0 auto;
				text-align: center;
}


                   @media (min-width: 320px) and (max-width: 480px){							
																.tags{
																	width: 300px;
															    }
															}
							




/*images


*/
.first     {


				text-align: center;
	
           }


.img         {

               padding-bottom: 100px;

}


 .photos ul li  {


		  	     display: inline;
		  	     text-decoration: none;
		  	     text-align: center;

}




.work           {
               
                color: #f1f1e2;
		        position: relative;
			    margin: auto;
			    letter-spacing: 0.08em;
			    top: 3px;
			    



}

a {
  
                
                text-decoration: none;


}


 .des img:hover {

       
       opacity: 0.9;



}

.photos img {


	padding-bottom: 50px;
}


.whisk {

     
     position: relative;
     right:  130px;



}

/*css hover effect
*/

ul#scale {
  margin: auto;
  width: 600px;
  padding: 0px;
}

ul#scale li#photo1 a:hover img {

				-webkit-transform: scale (1.25);
			    -moz-transform: scale (1.25);
			    -0-transform: scale (1..25);
			    transform:scale(1.25);






}















