.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}


/*typography*/

h1 {
		color:#D35B30;
	    font-size:  2.8em;
		font-weight:900;
		font-family: "museo-slab",serif;
		

}




								/*@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
									h1 {
										font-size: 3.2em;
								    }
								}
*/



html {
    font-size: 62.5%;
}

body {
	    font-size: 1.7em;
        line-height: 1.5em;
        font-family: "museo-sans",sans-serif;
        font-weight: 300;
}


p {
	 font-size: 1.043em;
	 line-height: 1.750em;
	 margin: 1.5em 0;
	 font-family: "museo-sans",sans-serif;
     font-weight: 300;
     word-spacing:0.25em;
     text-indent:0;
	 color:rgb(70, 69, 86);

   }



	/*@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {							
									p{
										font-size: 2em;
								    }
								}*/




h2 {    
		font-size:  1.7059em; /* equiv 29px */
		color: #f1f1e2;
		line-height: 1.7586em;
		font-family: "museo",serif;
		font-weight:500;
}

h3 {
	    font-family: "museo-sans",sans-serif;
	    font-size:  1.4706em;
	    font-weight:300;
	    word-spacing:-0.125em;
	    margin: 0;
	    color:#33323A;
}

nav ul li a, {

		font-size:  1.7059em; /* equiv 29px */
		color: #f1f1e2;
		font-family: "museo-sans",sans-serif;
		line-height: 1.7586em;
		word-spacing:0.25em;
}


h4 {
		  color: #D35B30;
		  font-size:  1.3529em; /* equiv 23px */
		  font-family: "museo-sans",sans-serif;
		  font-weight: 300;
/*		line-height: 1.7586em;
*/}

h5, a{
			font-family: "museo-sans",sans-serif;
			font-weight:100;
	        font-size:  1.2353em; /* equiv 21px */
/*	        line-height:  1.2143em;
*/	        color:#D35B30;
}


h6  {
	         font-family: "museo-sans",sans-serif;
			 font-weight:100;
	         font-size:  17px;
	         line-height: 28.5px;
	         color:#D35B30;
	
}






/*background
*/




.wrapper  {


    	  min-height: 100%;
	      background-color:#504E5B;
	      width: 100%;
}
                      /*@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait){							
										.cwrapper  {
											width: 100%;
									    }
									}*/





.intro  {        
                 width: 50%;
                 position:static;
			     float: right;
			     background-color:#504E5B;
                 min-height:2700px; 
                 margin-left: auto;
                 margin-right: auto;



      }


.side  {		background-color: #f1f1e2;
				width: 900px;
		        margin: auto;
                overflow: auto;
                height: 100%;

}


			/*most phones*/


									/*@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait){							
										.side  {

											
								             width: 100%;
											


									    }
									}*/




.photos  {
		           margin-right: auto;
		           margin-left: auto;
                   margin-top: 100px;
		           background-color: #f1f1e2;
		           text-align: center;
}



/*nom
*/



.first {

	          background-image: url('../images/NOMlogo.png');
	          background-repeat: no-repeat;
	          width: 600px;
	          height: 200px;
	          margin: 0 auto;
	          position:relative;
}



.second {

	          background-image: url('../images/homepage.jpg');
	          background-repeat: no-repeat;
	           margin: auto;
	          width: 600px;
	          height: 450px;
	          padding-bottom: 100px;
}


.third {

	          background-image: url('../images/nomdrink.jpg');
	          background-repeat: no-repeat;
	          margin: auto;
	          width: 600px;
	          height: 450px;
	          padding-bottom: 100px;

}


.fourth {

	          background-image: url('../images/nomeat.jpg');
	          background-repeat: no-repeat;
	          margin: auto;

	           width: 600px;
	          height: 450px;
	          padding-bottom: 100px;

}


/*Whisk*/



.firstw {

	          background-image: url('../images/landingwhisk.jpg');
	          background-repeat: no-repeat;
	          width: 850px;
	          height: 1000px;
	          margin: 0 auto;
	          position:relative;
}

.secondw {    background-image: url('../images/landscapelanding.jpg');
					          background-repeat: no-repeat;
					          margin: auto;
					          width: 850px;
					          height: 1000px;
					          padding-bottom: 100px;
				}
.thirdw {    background-image: url('../images/homefeed.jpg');
					          background-repeat: no-repeat;
					          margin: auto;
					          width: 850px;
					          height: 1000px;
					          padding-bottom: 100px;
				}

.fourthw{    background-image: url('../images/followuser.jpg');
					          background-repeat: no-repeat;
					          margin: auto;
					          width: 850px;
					          height: 1000px;
					          padding-bottom: 100px;
				}





/*MISCELLANEUS*/






.firstI {

	          background-image: url('../images/lana.png');
	          background-repeat: no-repeat;
	          width: 600px;
	          height: 785px;
	          margin: 0 auto;
	          position:relative;
	          padding-bottom: 100px;

}

.secondI{    background-image: url('../images/sebastiens.png');
					          background-repeat: no-repeat;
					          margin: auto;
					          width: 600px;
					          height: 544px;
					          padding-bottom: 100px;
				}
.thirdI {    background-image: url('../images/jellyfish.png');
					          background-repeat: no-repeat;
					          margin: auto;
					          width: 600px;
					          height: 597px;
					          padding-bottom: 100px;
				}

.fourthI{    background-image: url('../images/2014xmascard.png');
					          background-repeat: no-repeat;
					          margin: auto;
					          width: 600px;
					          height: 776px;
					          padding-bottom: 100px;
				}



.fithI{    background-image: url('../images/bunny.png');
					          background-repeat: no-repeat;
					          margin: auto;
					          width: 572px;
					          height: 572px;
				}

























#gemelas {


					position: relative;
					right:150px;

}


.descrip  {
                background-color: #f1f1e2;
                text-align: left;
                position: relative;
                width: 520px;
                margin: 0 auto;

		             
}


 .veronica {
 
		    
		    margin: auto;
			position: relative;
		    text-align: center;
		    
}




.descrip h4 {
               
                text-align: center;
                margin: 0;
              




}






.des    { 

				top: 50px;
				width: 60px;
				height: 60px;
				border:  1.5px solid #D35B30;
				border-radius: 80px;
				right: 350px;
				margin-left: auto;
			    margin-right: auto;
				position: relative;
				text-align: center;
				z-index: 7;


}


.des img {

	top: 3px;
	position: relative;




}


.work {

	position: relative;
	top: 2px;
	margin: auto;
}


.des:hover {


	background-color: white;
}





.tittle   {
			  
			  margin: 0 auto;
			  text-align: center;
			 position: relative;
			 bottom: 5px;
			 z-index: 9;
			width: 40%;
}




.tags {

			    position: relative;
			    bottom: 15px;
				width: 40%;
				margin: 0 auto;
				text-align: center;
}


               

.ui {


	text-decoration: underline;
	position: relative;
	width: 40%;
	margin: 0 auto;
	text-align: center;
	bottom: 20px;
}


a:hover {

	color:rgb(70, 69, 86);


}


/*images


*/
.first     {


				text-align: center;
	
           }


.img         {

               padding-bottom: 100px;

}


 .photos ul li  {


		  	     display: inline;
		  	     text-decoration: none;
		  	     text-align: center;

}






a {
  
                
                text-decoration: underline;


}


 

.photos img {


	padding-bottom: 50px;
}
















