.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}



/*typography*/

h1 {
		color:#f1f1e2;
	    font-size:  2.8em;
		font-weight:900;
		font-family: "museo-slab",serif;
		

}


                               /*most mobiles*/


								@media (min-device-width: 320px) and (max-device-width: 480px){							
									h1{
										font-size: 1.7em;
								    }
								}



.designare {

        color: rgb(211, 91, 48);
	    font-size:  2.8em;
		font-weight:900;
		font-family: "museo-slab",serif;
		


}


                                   /*most mobiles*/


								@media (min-device-width: 320px) and (max-device-width: 480px) {							
									.designare {
										font-size: 1.7em;
								    }
								}



html {

	    font-size: 62.5%;
}

body {
	    font-size: 1.7em;
	    line-height: 1.5em;
	    font-family: "museo-sans",sans-serif;
	    font-weight: 300;

     }


p {
	 font-size: 1.043em;
	 line-height: 1.750em;
	 margin: 1.5em 0;
	 font-family: "museo-sans",sans-serif;
     font-weight: 300;
     word-spacing:0.25em;
     text-indent:0;
     padding-bottom: 20px;
	 color:rgb(70, 69, 86);

   }


h2 {
		font-size:  1.7059em; /* equiv 29px */
		color: #f1f1e2;
		line-height: 1.7586em;
		font-family: "museo-sans",sans-serif;
		font-weight:100;

	}

h3 {

	    font-family: "museo",serif;
		 font-weight: 100;
	    font-size:  1.4706em;
	    word-spacing:-0.125em;
	    margin: 0;
	    color:#D35B30;
	
}

nav ul li a,.logos {

		font-size:  1.7059em; /* equiv 29px */
		color: #f1f1e2;
		font-family: "museo-sans",sans-serif;
		font-weight: 300;
		line-height: 1.7586em;
		word-spacing:0.25em;
}


h4 {
		color:rgb(70, 69, 86);
	    font-size:  1.3529em; /* equiv 23px */
	    font-family: "museo-sans",sans-serif;
	    font-weight: 300;
 
}

h5,.resume {
		font-family: "museo-sans",sans-serif;
		font-weight:100;
		font-style:normal;
		text-decoration: underline;
	    font-size:  1.2353em; /* equiv 21px */
	    line-height:  1.2143em;
	     color:#D35B30;
  }
.resume:hover {

	color:rgb(70, 69, 86);


}



.subtitle, .subuno {
	    top: 30px;
         left: 20px;
		position: relative;
		color: #D35B30;
}



                           @media (min-device-width: 320px) and (max-device-width: 480px) {							
									.subtitle, .subuno {
										position: relative;
										left: 0;
										top: 10;
								    }
								}


.move {

		position: relative;
		right: 100px;
	     color: #D35B30;
}



.esteban {

	    font-size: 1.063em;
	    line-height: 1.750em;
	     margin: 1.5em 0;
	     font-family: "museo",serif;
		 font-weight: 100;
		 font-style:normal;
		 color: #D35B30;
		 position: relative;
		 left: 30px;
		 bottom: 15px;

}





/*Margins*/


li, p, li ul {

		    margin-top: 0;
		    margin-bottom: 0;
 }   


/*landingpage*/

.background {
            
            background-image: url("../images/background1.jpg");
		    z-index: 6;
		    opacity: .4;
		    display: block;
		    position: fixed;
	        height: 80%;
            margin: 0 auto;
            left: 5%;
            right: 5%;
	        width: 20%;
	        }

									@media (min-device-width: 320px) and (max-device-width: 480px){
							
									.background  {

										background-image: url("../images/backgroundres.jpg");
										width: 200px;
										

						        }
						}





.body {
		    margin: 0;
		    text-align: center;
		    background-color: #020202;
}


.wrapper {

			margin-left: auto;
			margin-right: auto;
			width: 100%;
			overflow: hidden;
			min-height: 100%;
			background-color:rgb(80, 78, 91);
}

           @media (min-device-width: 320px) and (max-device-width: 480px){							
							.wrapper  {
								width: 100%;
						    }
						}



.tape {

       z-index: 6;
       width: 1000px;
       min-height: 80%;
       background-color: #504e5b;
       position: relative;
       margin: auto;



}

						/*most phones*/


						@media (min-device-width: 320px) and (max-device-width: 480px){							
							.tape  {
								left: 0px;
								width: 100%;
						    }
						}

						/*iphone5 phones*/


/*						@media  (min-device-width : 320px)and (max-width: 480px) {
								        .tape  {
													left: 0px;
													width: 450px;
											                      }						
									
										     
								    
								}*/
             

						



.mask {    
            
             background-image: url('../images/maskcircleswork.png'
);
		    margin: auto;
			background-position: center;
			width: 100%;
			height: 850px;
			position: relative;
			overflow: hidden;
			z-index: 6;
}
                             /*most phones*/


							@media (min-device-width: 320px) and (max-device-width: 480px) {
								
										.mask {

											background-image: url('../images/maskcircles2.png');
											width: 100%;
											height: 200px;

							        }
							}


                             /*/*iphone5 phones*/


								/*@media  (min-device-width : 320px)and (max-width: 480px) {
								        .mask {

											background-image: url('../images/maskcircles2.png');
											width: 100%;
											height: 200px;							
									
										     
								    }
								}*/




.intro {

			width: 100%;
			margin: auto;
			background-color: #504E5B;
			z-index: 6;
            min-height: 100%;
}







.titulo {

		    text-align: center;
			bottom: 600px;
			width: 400px;
		    position: relative;
		    z-index: 8;
		    width: 600px;
		    margin: auto;
		   
}

									@media (min-device-width: 320px) and (max-device-width: 480px) {
											
													.titulo {

														right: 15px;
			                                            width: 350px;
			 											bottom: 100px;
														
										        }
										}
           





	/*navigation*/

.navigation {

			text-align: center;
			margin: auto;
			width: 100%;
			z-index: 8;
			position: relative;
			bottom: 450px;

}

                @media (min-device-width: 320px) and (max-device-width: 480px) {
											
													.navigation {
														font-size:  .8em; /* equiv 29px */
														right: 15px;
			                                            width: 350px;
			 											bottom: 10px;

										        }
										}







nav ul li {

			display: inline-block;
			padding: 20px;
}


                  @media (min-device-width: 320px) and (max-device-width: 480px) {
											
													nav ul li {
														padding: 10px;
														
										        }
										}



nav ul li a {

			color: #f1f1e2 ;
}

nav ul li a:hover {

			color:#D35B30;
}

	/*aboutme*/


.me {
			position: relative;
			 z-index: 6;
}

.aboutme {
		    z-index: 6;
		    margin: auto;
		    position: relative;
			width: 1000px;
		    background-color:#f1f1e2;

}

						@media (min-device-width: 320px) and (max-device-width: 480px) {							
									.aboutme {
										margin:0;
										left: 0px;
										width: 100%;
								    }
								}









.profile {
		   position: relative;
		   bottom: 10px;
		   margin: auto;
		   text-align: center;
		   z-index: 7;
		   width: 500px;
		   background-repeat: no-repeat;
}

                  @media (min-device-width: 320px) and (max-device-width: 480px) {							
									.profile{
										
										display: none;
								    }
								}




.story {
            text-align: left;
			margin-top: 0px;
			padding: 40px;
			margin-bottom: 100px;
			width: 60%;

}


							@media (min-device-width: 320px) and (max-device-width: 480px) {							
								.story {
									width: 60%;
									padding-bottom: 10px;

							    }
							}
                              

                              





blockquote  {
	     color: #D35B30;
		font-size:  1.4706em; /* equiv 25px */
		 line-height:  1.3em;
		 font-family: "museo",serif;
		 font-weight: 100;
		 font-style:normal;
		 margin:  2.04em 0  1.02em 0;
}




.veronica {
 
		    
		    margin: auto;
			position: relative;
		    text-align: center;
		    top:10px;
}

                         @media (min-device-width: 320px) and (max-device-width: 480px) {							
								.veronica {
									top: 40px;
									padding-bottom: 25px;

							    }
							}
                              




/*social media animations*/


.social ul li {

			list-style: none;
			display: inline-block;
			position: relative;
			float: right;
			top: 40px;
/*			right: 20px;
*/			padding: 10px;
			
}


						@media (min-device-width: 320px) and (max-device-width: 480px) {							
									.social ul li {
										right: 10px;
										padding: 2px;
										
								    }
								}




.social li a img {

			transition: all 0.8s ease;
			-webkit-transition: all 0.8s ease;
			-moz-transition: all 0.8s ease;
			-o-transition: all 0.8s ease;
	
}
.social li  a:hover img {

		       transform:rotate(360deg);
			-o-transform:rotate(360deg);
			-webkit-transform:rotate(360deg);
			-moz-transform:rotate(360deg);
			-ms-transform:rotate(360deg);
}









/*circles*/

.insidequotes2 {

			position: relative;
			top:10px;
			padding-top: 10px;
			color: #f1f1e2;

}












/*work*/



.trabajo {
			position: relative;
			margin: auto;
			z-index: 7;
			top: 0;
		    width:1000px;
		    height: 800px;
			background-color:#f1f1e2;
}
                                /*most mobiles*/


								@media (min-device-width: 320px) and (max-device-width: 480px) {							
									.trabajo {
										margin:0;
										left: 0px;
										width: 100%;
								        height: 400px;
								    }
								}


.image  {
            border:  1.5px solid #D35B30;
            height: 220px;
			width: 220px;
			border-radius: 260px;
			text-align: center;
			position: relative;
			/*margin: 0 auto;
			margin-bottom: 100px;*/
			
		   


}


.image:hover {


	background-color: white;
}


					@media (min-device-width: 320px) and (max-device-width: 480px) {							
								.image{
									
					            height:90px;
								width: 90px;
								border-radius:100px;
/*								font-size: 1em;
*/								top:0;
					/*			margin:auto;
					*/			margin-bottom: 20px;
								
							    }
							}








.img   {

            text-align: center;
			margin: 0 auto;
			position: relative;
			width: 800px;
		height: 300px;
		top: 50px;
}

							@media (min-device-width: 320px) and (max-device-width: 480px) {							
										.img {
											
									    width: 300px;
									    height: 100px;
										
									    }
									}




.logos {
            font-size:  1.7059em; /* equiv 29px */
			position: relative;
			margin:  0 auto;
		    top:80px;
			color:#D35B30;
			text-align: center;
}

						/* phone */
						@media (min-device-width: 320px) and (max-device-width: 480px) {							
									.logos{
										
								    font-size:  .8em; /* equiv 29px */
								    top: 35px;
								    text-align: center;
									
								    }
								}

						@media (min-device-width: 320px) and (max-device-width: 480px) {							
									.logomiddle{
										
								    position: relative;
								    right:  10px;
									
								    }
								}




						@media (min-device-width: 320px) and (max-device-width: 480px) {							
									.illus {
										
								    position: relative;
								    right: 8px;
									
								    }
								}











/*contact*/



.contact  {
			margin: auto;
		    position: relative;
		    z-index: 7;
			background-color:#D35B30;
			width: 1000px;


}


@media (min-device-width: 320px) and (max-device-width: 480px) {							
			.contact {

				margin:0;
				width:  100%;
				height: 150px;
		    }
		}






.social {

	   position: relative;
	   top:0px;
      padding-bottom: 50px;
}

@media (min-device-width: 320px) and (max-device-width: 480px) {							
			.social {
				   
                   padding-bottom: 0px;	
                   margin: auto;
		
		    }
		}




.copyright {

           top: 100px;
		   position: relative;
		   font-size:0.625em;
		   color: #f1f1e2;
            right: 100px;

		   z-index: 8;

}

@media (min-device-width: 320px) and (max-device-width: 480px) {							
			.copyright {
				 display: none;
				
		    }
		}
































