
	
@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Lato:400,300italic,700);

body {
	background-color:#BDB39B;
	color:#F1F1E2;
	font-family: 'lato', sans-serif; }
	
#block {
	width:1600px;
	margin:auto;
	
}

#main {
	background-color: #1D1D1D;
	width:700px;
	height:1600px;
	padding:20px;
	position:relative;
	margin:auto;
	bottom:550px;

	}
	
	
	
.side {
	background-color: #1D1D1D;
	width:330px;
	height:500px;
	position:relative;
	top:100px;
	left: 70px;
}
	
.profile {
	position:relative;
	margin:auto;
	top:20px;
	left: 65px;
	
	
	
}

.connect {

	position: relative;
	left: 15px;

}



.social-media-nav li{
	position: relative;
	right:10px;
	top: 30px;
	text-decoration: none;
	list-style:none;
	display: inline-block;
	margin: auto;



}

.social-media-nav li img{

	padding: 5px;
}







	
	
	/* hide text */
	
	/*ul.social-media-nav li .behance { background-position: 0 0; width: 47px; height: 52px; } 
ul.social-media-nav li .email { background-position:-67px 0; width: 67px; height: 45px; } 
ul.social-media-nav li .phone { background-position:-154px 0; width: 27px; height: 51px; }
ul.social-media-nav li .twitter{background-position: -201px 0; width: 58px; height: 54px; } 
*/



	
.logo {
  position:relative;
  top:60px;
  width:100%;
  margin-bottom:50px;
	
	}
	

	
	h2 {
		color:#D35B30;
		font-size:18px;
		
	}
	
	h4 {
		
		color:#E0922F;
		font-size:17px;
	}
		
.list {
	font-size:16px;
	line-height:20px;
	font-variant: normal;
	
}


p {
	font-size:16px;
	line-height:20px;
	font-variant: normal;
	
	
}



