.wrapper {
  width: 100%;
  /*  min-height: 100%;
  */
  background-color: #ffecdb;
  background-size: cover;
  text-align: right;
  overflow: auto; }

.home {
  width: 20%;
  font-size: 17px;
  font-family: "Brandon Grotesque", Helvetica, sans-serif;
  color: white;
  font-weight: 400;
  margin-left: 50px;
  color: #f64747;
  top: 10px;
  position: relative; }
  .home a {
    text-decoration: none; }
  .home:hover {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1); }

.title {
  width: 85%;
  text-align: right; }
  .title h1 {
    color: #ffecdb;
    font-family: "Brandon Grotesque", Helvetica, sans-serif;
    font-weight: 900;
    font-size: 100px;
    letter-spacing: -1px;
    color: #f64747;
    text-shadow: rgba(0, 0, 0, 0.03) 2px 2px, rgba(0, 0, 0, 0.0285) 4px 4px, rgba(0, 0, 0, 0.027) 6px 6px, rgba(0, 0, 0, 0.0255) 8px 8px, rgba(0, 0, 0, 0.024) 10px 10px;
    margin: 0; }

.container-text {
  overflow: auto;
  margin-bottom: 30px; }
  .container-text .inside-text {
    width: 50%;
    float: right;
    font-size: 18px;
    font-family: "Brandon Grotesque", Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.8em;
    letter-spacing: 0.01rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #2c3e50;
    word-break: keep-all; }

.image_container_flow {
  width: 70%;
  background-color: #f64747;
  min-height: 400px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/flow-single.png"); }

.image_container_web {
  background-position: center center;
  width: 70%;
  background-color: #f64747;
  min-height: 400px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/single-web.png"); }

.image_container_mobile {
  width: 70%;
  background-color: #f64747;
  min-height: 400px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/single-mobile.jpg");
  background-position: center center; }

.navigation-container {
  width: 50px;
  height: 80px;
  background: #f64747;
  position: fixed;
  text-align: center;
  top: 50%; }
  .navigation-container .navigation-arrow {
    background-color: #f64747;
    width: 50px;
    height: 50px;
    background: url("../images/iconsprite.png");
    background-position: -75px  55px;
    position: relative;
    top: 20px;
    left: 3px; }

.navigation-container-right {
  width: 50px;
  height: 80px;
  background: #f64747;
  position: fixed;
  left: 1106px;
  top: 50%; }
  .navigation-container-right .navigation-arrow {
    background-color: #f64747;
    width: 50px;
    height: 50px;
    background: url("../images/iconsprite.png");
    background-position: -105px  55px;
    position: relative;
    top: 20px;
    right: 3px; }

.navigation-container:hover {
  opacity: 2; }

.navigation-container-right:hover {
  opacity: 2;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear; }

.short-footer {
  background: #f64747;
  height: 120px;
  width: 70%;
  margin: auto; }
  .short-footer .short-footer-icons {
    width: 40%;
    height: auto;
    float: right;
    position: relative;
    bottom: 40%; }
  .short-footer .short-footer-copyright {
    width: 30%;
    float: left;
    margin-left: 50px;
    top: 40%;
    position: relative;
    font-size: 12px;
    color: #fba8a8;
    font-weight: 100;
    font-family: "Brandon Grotesque", Helvetica, sans-serif; }

.short-footer-contact {
  position: relative;
  top: 80px;
  text-align: left;
  width: 70%; }
  .short-footer-contact li {
    display: inline-block;
    padding: 5px; }
    .short-footer-contact li a {
      font-size: 17px;
      font-family: "Brandon Grotesque", Helvetica, sans-serif;
      color: white;
      font-weight: 400;
      text-decoration: none; }
      .short-footer-contact li a:hover {
        color: #ffecdb; }
