<div class="footer">
  <div class="footer-icons">
    <ul class="footer-contact">
        <li><a href="vargasnika@gmail.com">Email</a></li>
        <li><a href="https://dribbble.com/jimeneznika">Dribble</a></li>
        <li><a href="https://www.linkedin.com/in/jimenezveronica">Linkedin</a></li>
    </ul>
  </div><!--footericons-->
  <div class="footer-copyright">
    <p class="copyright-text">Designed & Coded with love by Veronica Jimenez</p>
  </div><!--end of footer copyright-->
</div><!--end of footer-->
