@import 'variables';

body {
	color: $font-color;
}

p {
	font-family: $font;
	font-size: 17px;
}

h1 {
	font-family: $highlight-font;
	font-size: 70px;
}

h2 {
	font-family: $highlight-font;
	font-size: 25px;
	font-weight: normal;
}

h3 {
	font-family: $highlight-font;
	font-weight: normal;
	font-size: 23px;
}

a {
	font-family: $highlight-font;
	font-size: 17px;
	color: $font-color;

}

a:hover{
	color: $font-color;
	opacity: 5;
}

.wrapper {
	width: 1024px;
	margin: auto;
	overflow: auto;
}

.main-content {
	width: 100%;
	margin-top: $main-margin;

	.column-top {
		font-size: 35px;
		font-weight: 100;
	}

	.left-column {
		width: 432px;
		float: left;
		text-align: left;
		margin-right: $main-margin;

		.blurb-line {
			margin: 20px 0px;
			overflow: auto;

			.icon {
				float: left;
				width: 31px;
			}

			.text {
				float: left;
				max-width: 401px;
			}

			.blurb {
				line-height: 26px;
				width: 401;
			}
		}
	}

	.right-column {
		width: 517px;
		float: right;

		.column-top {
			margin-bottom: 26px;
		}

		a {
			text-decoration: none;
			color: $font-color;
			font-size: 50px;
		}
		.job-title {

			margin: auto;
			font-size: 35px;
			font-weight: 100;


		}

		.portfolio-piece {
			height: 479px;
			text-align: left;
			margin-bottom: $main-margin;
			background-color: white;
			box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);

			.header {
				margin-left: 35px;
				height: 100px;
			}

			.cover {
				height: 379px;
			}

			h2 {
				margin-bottom: 10px;
			}
		}

		@mixin project-colors($color, $url) {
			h2 {
				color: $color;
			}
			.cover {
				background: $color url($url) no-repeat scroll center;
			}
		}

		.candidate-experience {
			@include project-colors($candidate-experience, '../images/candidate-cover.png');
		}
		.publisher {
			@include project-colors($publisher, '../images/hireloop-cover.png');
		}
		.hiring-material {
			@include project-colors($hiring-material, '../images/hiring-cover.png');
		}
		.single {
			@include project-colors($single, '../images/single-cover.png');
		}
	}
}


.footer {
	text-align: center;
	margin-bottom: $main-margin;
}

.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
