@import 'variables';

p {
	font-family: $font;
	font-size: 17px;
}

h1 {
	font-family: $highlight-font;
	font-size: 70px;
}

h2 {
	font-family: $highlight-font;
	font-size: 35px;
	font-weight: normal;
}

h3 {
	font-family: $highlight-font;
	font-weight: normal;
	font-size: 23px;
}

a {
	font-family: $highlight-font;
	font-size: 17px;
	font-weight: 700;
	color: #000;
}

.wrapper {
	width: 1200px;
	margin: auto;
	overflow: auto;
}

.main-content {
	width: 100%;
	margin-top: 20px;

	.left-column {
		width: 171px;
		float: left;
		text-align: center;

		.first-name {
			font-size: 35px;
		}

		.last-name {
			font-family: $highlight-font;
			font-size: 70px;
			font-weight: 900;
			word-wrap: break-word;
			margin-bottom: 20px;
		}

		.blurb {
			margin-top: 20px;
			line-height: 26px;
		}
	}

	.right-column {
		width: 909px;
		float: right;

		a {
			text-decoration: none;
			color: #000;
			font-size: 50px;
		}

		.portfolio-piece {
			height: 242px;
			line-height: 242px;
			text-align: center;
			margin-bottom: 20px;
			transition: background 0.5s ease;
			background-color: white;
		}

		.single {
			border: $piece-border solid $single;
		}
		.single:hover {
			background-color: $single;
		}
		.candidate-experience {
			border: $piece-border solid $candidate-experience;
		}
		.candidate-experience:hover {
			background-color: $candidate-experience;
		}
		.w {
			border: $piece-border solid $w;
		}
		.w:hover {
			background-color: $w;
		}
	}
}

.footer {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
