
@import '_variables';

//MAIN STYLE SHEET

//WRAPPERS

.wrapper {

	@include wrapper;

		.header {
			@include main;
			@include titulo;


		}
}


//HEADER


.header-wrap {

	@include wrapper;
	background-color: $background;
	height: 100vh;
	background-attachment: fixed;
	position: relative;

}

.tittle-myname {

	position: relative;
	max-width: 1000px;
	padding-bottom: 15%;
	margin-right: 70px;
	float:right;
	text-align: middle;
	top: 30%;

		@media screen and (max-width: 768px){

			max-width: 600px;
			margin-right: 20px;
		}

		@media screen and (max-width:720px) {
			max-width: 600px;
			margin-right: 20px;
		}

		
	
				h1 {

					@include titulo;
					text-align: left;
					position: relative;
					/*text-shadow: rgba(0,0,0,.03) 2px 2px,
					rgba(0,0,0,.0285) 4px 4px,rgba(0,0,0,.0270) 6px 6px,
					rgba(0,0,0,.0255) 8px 8px,rgba(0,0,0,.0240) 10px 10px;
*/

						@media screen and (max-width: 768px){

							font-size: 50px;
						}

						@media screen and (max-width:720px) {

							font-size: 30px;
						}

				}

				h2 {

					@include headlines;
					width: auto;
					text-align: right;
					position: relative;


					@media screen and (max-width: 768px){

							font-size: 39px;
					}

					@media screen and (max-width:720px) {
							font-size: 24px;
				}
	

		}


}




.header-button {

	@include secondary;
	width: 200px;
	height: 50px;
	position: absolute;
	text-align: center;
	cursor: pointer;
	left: -120px;
	top: 36%;
	background-color: #F76764;
	opacity: .7;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-o-transform: rotate(90deg);
		

		@media screen and (max-width: 768px){

			top: 34%; 
		}

		@media screen and (max-width:720px){

			height: 40px;
			width: 100px;
			left: -100px;
			top: 34%;
		}
}



.header-button {

	-webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: .5s;
    animation: slide 0.5s forwards;
    animation-delay: .5s;
}

	@-webkit-keyframes slide {
	    100% { left: -80px;}
	}

	@keyframes slide {
	    100% { left: -80px; }
	}

			@media screen and (max-width:720px){

					@-webkit-keyframes slide {

	    				100% { left: -30px;}
					}

			}	

.header-button:hover {

	opacity: 2;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

		.see-my-work {
			text-decoration: none;
			position: relative;
			top: 30%;
			color:$cloud;

					@media screen and (max-width:720px){
						font-size: 13px;
					}

		}


.flecha {

	width: 50px;
	height: 50px;
	margin-top:30px;
	background: url("../images/iconsprite.png");
	background-position: -11px  58px;
	float: right;
	position: relative;
	opacity: .7;
  	-webkit-animation:bounce 2s infinite;
  	animation:bounce 2s infinite;


		&:hover {

			opacity:10;
			-webkit-transition: all .2s linear;
			transition: all .2s linear;
			-ms-transition: all .2s linear;
			transition: all .2s linear;
		}
}

@-webkit-keyframes bounce {
  0%{
    bottom:10px;
  }

  25%, 75%,50% {
    bottom:20px;
  }

  100% {
    bottom:0;
  }
}



@keyframes bounce {
  0%{
    bottom:10px;
  }

  25%, 75%,50% {
    bottom:20px;
  }

  100% {
    bottom:0;
  }
}



//BODY

.tittle-quote	{
	background: $cloud;
	@include wrapper;
	text-align: right;
	height: 300px;
}

	blockquote {

				@include subheadlines;
					text-align: right;
					position: relative;
					color: $background;
					margin-right: 70px;
					top: 10%;
				    quotes: "\201C""\201D""\2018""\2019";

						@media screen and (max-width:768px){
							margin-right: 20px;
						}

						@media screen and (max-width:720px){
							margin-right: 20px;
							font-size: 13px;
							top: 40%;
						}
				}


			
	blockquote:before {
			color: $background;
			content: open-quote;
			font-size: 6em;
			position: relative;
			right: 590px;
			top: 115px;

  					@media screen and (max-width:720px){
						top: 25px;
 						right: 275px;
						font-size: 2em;
					}
	}





.my-work {

	@include wrapper;
	background: $cloud;


			.cover-hover {

				@include subheadlines;
				display: inline-block;
				position: relative;
				color: $cloud;
				text-align: center;
				z-index: 4;
				@media screen and (max-width:720px){
							font-size: 16px;
					}



			}


}



// COVERS PHOTOS


.overlay {

		display: block;
		position: absolute;
		background-size: cover;
		z-index: 20;
		background-color: $background;
		overflow: hidden;
		width: 100%;
		height: 250px;
		top: 0;
		left: 0;

			.hover-text {

						position: relative;
						top: 90px;
						@media screen and (max-width:720px){
							top: 110px;
					}


			}

			.middle-text {

						position: relative;
						top: 80px;
						@media screen and (max-width:720px){
							top: 100px;
					}
			}

			.line-separator {
						position: relative;
						width: 5%;
						margin: auto;
						height: 1px;
						background-color: $cloud;
						top: 45px;
						-webkit-transition: width 1s linear 2s;
						transition: width 1s linear 2s;

							@media screen and (max-width:720px){
								top: 82px;
					}

			}



}

.hidden {
			display: none;
}


.cover-one {

	width: 50%;
	height: 250px;
	z-index: 3;
	background-image: url("../images/single.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	float: right;
	position: relative;
	top: 35px;

}






.cover-two {

	background-color: #bdc3c7;
	width: 50%;
	height: 250px;
	background-image: url("../images/pipeline-logo.png");
	opacity: 5;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 35px;

}



/*.cover-three {

		background-color: #95A5A6;
		width: 25%;
		height: 250px;
		margin-left: -5px;



}*/

.cover-four {

	width: 100%;
	height: 252px;
	background-image: url("../images/after-cover.png");
	opacity: 5;
	background-position:left bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 5px;
	@media screen and (max-width:720px){

                        background-position:center center;                    }

}

.cover-five  {

	width: 50%;
	height: 250px;
	background-color:#95a5a6;
	opacity: 5;
	background-image: url("../images/whiskcover.png");
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 1.5px;



}

.cover-six  {

	width: 50%;
	height: 250px;
	background-color:#ABB7B7;
	float: right;
	background-image: url("../images/acopiocover.png");
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 1.5px;


}




// FOOTER

.spacing-div {

	@include wrapper;
	height: 200px;
	background-color: $cloud;

}

.footer {

	background: $background;
	@include wrapper;
	height: 120px;
}
	.footer-copyright {
		width: 50%;
		float: left;
		top: 55%;
		position: relative;
		font-size: 12px;
		margin-left: 50px;
		color: lighten($background,20%);
		font-weight: thin;
		font-family: $font;
		@media screen and (max-width:720px){
								font-size: 6px;
								margin-left: 30px;
		}
	}

		.footer-icons {
			width: 40%;
			height: auto;
			float: right;
			position: relative;
			bottom: 40%;
		}

		/*a {color: lighten($background,20%);}*/
	
.footer-contact {

	position: relative;
	top: 80px;
	text-align: right;
	right: 90px;
	@media screen and (max-width:720px){
								right: 40px;
								top: 103px;
							}

	li {

		display: inline-block;
		padding: 20px;
		@media screen and (max-width:720px){
								padding: 5px;}


		a {

			@include secondary;
			text-decoration: none;
					@media screen and (max-width:720px){
								font-size: 10px;}

				&:hover {

					color: $cloud;
				}
		}

	}
}


	