@media only screen and (max-width: 1024px) {
  
  h1 {
   
   font-size: 26px;

  }

  h2  {
    
    font-size: 26px;
  }

  h3  {
    
    font-size: 22px;
    line-height: 37px;
  }

  p {
    font-size: 20px;
    line-height: 25px;
  }

  a {
    font-size: 17px;
    

  }

  .wrapper {
    width: 100%;
  }

  .main-content {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
    width: auto;
     
     .column-top {
      
          font-size: 25px;
          word-spacing: 0px;
          letter-spacing: -.7px;  
      }
      


    .left-column {
      float: none;
      margin: 0px;
      width: 100%;

      .column-top-margin {

        font-size: 26px;
        margin-bottom: 21px;
      }

      .blurb-line {
        .text {
          max-width: 75%;
        }
        .icon {
          
          margin-top: 16px;
        }

        .text {

            a {
              margin-right: 10px;
              line-height: 45.5px;
            }
        }
      }

    }

    .right-column {
      width: 100%;
      margin: 0px;
      margin-top: $main-margin;
    }
  }

  .footer {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
    width: auto;
  }

  .portfolio-content {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
    width: auto;

    p {
      line-height: 33px;
    }

    .left-column {
      float: none;
      width: 100%;
       
    }

    .right-column {
      float: none;
      width: 100%;
      margin-top: $main-margin;
    }
  }
}


