@import 'variables';

.portfolio-content {

  width: 100%;
  margin-top: 20px;
  overflow: hidden;

  p {
    line-height: 26px;
  }

  .left-column {
    float: left;
    width: 65%;
  }

  .single {
    background-color: #1E4147;
  }

  .candidate-experience {
    background-color: $candidate-experience;
  }

  .publisher {
    background-color: $publisher;
  }

  .right-column {
    float: right;
    width: 33%;

    .controls {
      margin-top: 10px;
      .previous-next {
        float: left;
      }
      .home {
        float: right;
      }
    }
  }
}

.portfolio-image {
  width: 100%;

  img {
    width: 100%;
  }
}
