@import 'variables';

.portfolio-content {

  width: 100%;
  margin-bottom: $main-margin;
  overflow: hidden;

  .header {
    height: $main-margin;
  }

  p {
    line-height: 26px;
  }

  .left-column {
    float: left;
    width: 574px;
  }

  .single {
    background-color: $single;
  }

  .candidate-experience {
    background-color: $candidate-experience;
  }

  .publisher {
    background-color: $publisher;
  }

  .hiring-material {
    background-color: #EFEFEF;
  }

  .right-column {
    float: right;
    width: 372px;

    .controls {
      margin-top: 50px;
      .previous-next {
        float: left;
      }
      .home {
        float: right;
      }
    }
  }
}

.portfolio-image {
  width: 100%;
  margin-bottom: 50px;

  img {
    width: 100%;
  }

}
