//VARIABLES
$font:"adobe-caslon-pro";
$highlight-font:"effra";

$piece-border: 2px;

// Portfolio piece colors
$single: #E8575E;
$candidate-experience: #01A0DF;
$publisher: #D8D5D0;



/* Styles */

//MIXINS

@mixin wrapper  {
    width: 100%;
/*  min-height: 100%;
*/}

@mixin main {
    width: 100%;
    height: auto;
}

@mixin middle {
    width: 40%;
    margin:auto;
}

@mixin text {

    width: 70%;
}

//TYPOGRAPHY

@mixin titulo {
    color: $cloud;
    font-family: $font;
    font-weight: 600;
    font-size:100px;
    letter-spacing: -1px;
}

@mixin reading {
    font-size: 20px;
    font-family: $font;
    font-weight: 300;
    line-height: 1.8em;
    letter-spacing: 0.01rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: $blue;
    word-break:keep-all;

}


@mixin headlines {

    font-size: 36px;
    line-height: 1.8em;
    font-family:$font;
    font-weight: 100;
    color: $cloud;
    letter-spacing: -.3px;


}


@mixin subheadlines {

    font-size: 28px;
    line-height: 1.5em;
    font-family: $font;
    font-weight: 100;


}

@mixin secondary  {

    font-size: 17px;
    font-family: $font;
    color: lighten($background, 90%);
    font-weight: 300;
}



@mixin hover {

    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transition: all .28s cubic-bezier(.4,0,.2,1);
    -webkit-transition: all .28s cubic-bezier(.4,0,.2,1);
    transition: all .28s cubic-bezier(.4,0,.2,1);
}
