---
layout: default
---
<div class="wrapper">
  <div class="portfolio-content">
    <div class="header">
      <div class="vertical-align"><p><a href="/">Home</a></p></div>
    </div>
    <div class="left-column {{ page.color_class }}" id="left-column" {% if page.longer == "right" %}data-78-top="transform:translateY(0px);" data--191-bottom="transform:translateY(0px)" data--1200-bottom="transform:translateY(1009px);"{% endif %}>
      {{ content }}
    </div>
    <div class="right-column" id="right-column" {% if page.longer == "left" %}data-78-top="transform:translateY(0px);" data--191-bottom="transform:translateY(0px)" data--1200-bottom="transform:translateY(1009px);"{% endif %}>
      <h2>{{ page.title }}</h2>
      <br>
      <p><a href="{{ page.link }}" target="_blank">{{ page.link_title }}</a></p>
      <br>
      {{ page.text }}
      <div class="controls" >
        <div class="previous-next">
          {% if site.data.portfolio[page.title].prev %}
          <a href="{{ site.data.portfolio[page.title].prev }}"><< Previous project</a>
          {% endif %}
          {% if site.data.portfolio[page.title].next %}
          <a href="{{ site.data.portfolio[page.title].next }}">Next project >></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
