---
layout: default
---
<div class="wrapper">
  <div class="portfolio-content">
    <div class="left-column" id="left-column">
      {{ content }}
    </div>
    <div class="right-column" id="right-column">
      <h2>{{ page.title }}</h2>
      <br>
      <p><a href="{{ page.link }}" target="_blank">{{ page.link_title }}</a></p>
      <br>
      {{ page.text }}
      <div class="controls" >
        <div class="previous-next">
          {% if site.data.portfolio[page.title].prev %}
          <a href="{{ site.data.portfolio[page.title].prev }}"><< Previous</a>
          {% endif %}
          {% if site.data.portfolio[page.title].next %}
          <a href="{{ site.data.portfolio[page.title].next }}">Next >></a>
          {% endif %}
        </div>
        <div class="home">
          <a href="index.html">Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
